#international{
   background-color: #91c886;
}
#inland{
   background-color: #aa8dc5;
}
#wirtschaft{
   background-color: #ccdf82;
}
#web{
   background-color: #c6f562;
}
#sport{
   background-color: #f5e65f;
}
#panorama{
   background-color: #66954d;
}
#kultur{
   background-color: #c6c4c6;
}
#etat{
   background-color: #e7b75d;
}
#wissenschaft{
   background-color: #91c3db;
}
#undefined{
   background-color: black;
}